/* aside */


.dark-bg {
    background-color: #1A202C;
    transition: ease-in-out .4s;
}

.color-fff {
    color: #fff;
}

.notes-aside-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.aside-items {
    display: flex;
    align-items: center;
    padding: .8rem 5rem .8rem 0;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    cursor: pointer;
}

.item-active {
    background-color: #eaeff7;
}

.aside-icon {
    font-size: 1.6rem;
    margin-left: 2rem;
    font-weight: 900;
    color: inherit;
}

.aside-title {
    font-size: 1.1rem;
    margin-left: 2.5rem;
    font-weight: 600;
    color: inherit;
}

.aside-items:hover {
    background-color: #7f808123;
}

.profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.image-and-title-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.profile-icon {
    font-size: 2rem;
    margin-left: 1rem;
}


/* filter */

.filter-container {
    margin-top: 1rem;
    padding-left: 1.6rem;
}

.priority-input {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.priority-filter-options {
    line-height: 1.5rem;
}

.filter-heading {
    font-size: 1.3rem;
    font-weight: 600;
}

.filter-title {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    margin-top: .6rem;
}

.filter-and-clear-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdb9b9;
}

.filter-clear {
    cursor: pointer;
    font-size: 1.2rem;
}

.close-menu-container {
    width: 100%;
    display: flex;
    justify-content: right;
    display: none;
}

.close-menu {
    font-size: 2rem;
    margin-right: 1.2rem;
}

.block {
    display: block;
}

/* responsive */

@media only screen and (max-width: 700px) {
    .hide-show {
        z-index: 1;
        position: absolute;
        background-color: #fff;
    }

    .block {
        display: none;
    }

    .profile {
        display: none;
    }

    .close-menu-container {
        display: block;
    }
}