
.tags-cards-area {
    margin-top: 0;
    margin-bottom: 2rem;
}

.tag-heading {
    text-align: center;
}

.space-devider {
    background-color: #cecbcb;
    height: 1px;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.dark-bg {
    background-color: #1A202C;
}

.color-fff {
    color: #fff;
}