@import "../Colors/colors.css";

.notes-cards-container {
    display: flex;
    margin-top: 2.5rem;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.notes-content {
    display: flex;
    flex-direction: column;
}

.notes-card {
    width: 100%;
    min-height: 8rem;
    max-height: max-content;
    max-width: 17rem;
    box-shadow: #46454559 0px 5px 15px;
    border-radius: 9px;
    padding: 1rem 0;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.card-title {
    margin-bottom: .5rem;
    margin-left: 1rem;

}

.card-content {
    word-break: normal;
    margin-left: 1.7rem;
    margin-right: 8px;
}

.cards-tools-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-tool {
    font-size: 1.2rem;
}

.trash-icon {
    font-size: 1rem;
}

.title-and-date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.note-date {
    color: #8d8b8b;
    font-size: .9rem;
    padding-bottom: 10px;
}

/* color container */

.color-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-colors-container {
    position: absolute;
    top: 30px;
    left: -3.5rem;
    display: flex;
    border-radius: 7px;
    background-color: #fff;
    padding: .3rem;
    gap: 4px;
    box-shadow: #46454559 0px 5px 15px;
    box-shadow: 0 1px 5px rgb(128 128 128);

}

.btn-color {
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

