@import "../Colors/colors.css";

.notes-cards-container {
    display: flex;
    margin-top: 2.5rem;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.notes-content {
    display: flex;
    flex-direction: column;
}

.notes-card {
    width: 100%;
    min-height: 8rem;
    max-height: max-content;
    max-width: 20rem;
    box-shadow: #46454559 0px 5px 15px;
    border-radius: 9px;
    padding: 1rem 0;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.card-title {
    margin-bottom: 1rem;
    margin-left: 1rem;

}

.card-content {
    word-break: normal;
    margin-left: 1.7rem;
    margin-right: 8px;
}

.cards-tools-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-tool {
    font-size: 1.2rem;
}

.trash-icon {
    font-size: 1rem;
}

.title-and-date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.note-date {
    color: #8d8b8b;
    font-size: .9rem;
    padding-bottom: 10px;
}

/* color container */

.color-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-colors-container {
    position: absolute;
    top: 30px;
    left: -3.5rem;
    display: flex;
    border-radius: 7px;
    background-color: #fff;
    padding: .3rem;
    gap: 4px;
    box-shadow: #46454559 0px 5px 15px;
    box-shadow: 0 1px 5px rgb(128 128 128);

}

.btn-color {
    border: none;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

/* tags css */

.tag-outer-container {
    position: absolute;
    top: 1.6rem;
    left: -3rem;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(128 128 128);
}

.tag-container {
    position: relative;
    display: flex;
    align-items: center;
}

.tags-selection-container {
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
    padding: .5rem;
    justify-content: space-around;
}

.tag {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.btn-primary-outline {
    border: none;
    border-top: 1px solid #cfcdcd;
}

.user-input-tag {
    width: 100%;
    border: 1px solid #bebdbd;
    padding: 3px;
    outline: none;
    margin-bottom: 2px;
}

/* tag chips */

.tag-chips {
    /* border: 1px solid grey; */
    display: flex;
    gap: .5rem;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-left: .5rem;
}

.chip {
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    padding: 3px 5px;
    width: max-content;
    height: max-content;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 2px;
}

.delete-chip {
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
}

/* priority */ 
 
.date-and-priority-box {
    display: flex;
    gap: 1rem;
}

.priority-tag  {
    font-size: .85rem;
    color: #fff;
    padding: 2px 5px;
    padding-bottom: 0;
    padding-top: 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.High {
    background-color: #f34f4f;
}

.Medium {
    background-color: #f3a64f;
}

.Low {
    background-color: #45bce4;
}